In [65]:
# # Import socket module 
import socket 
import requests
import numpy as np
import pandas as pd

In [15]:
# # Create a socket object 
# s = socket.socket()

In [16]:
# # Define the port on which you want to connect 
# port = 12345

In [17]:
# # connect to the server on local computer 
# s.connect(('127.0.0.1', port))

In [18]:
# # receive data from the server 
# print (s.recv(1024))
# # close the connection 
# s.close()

In [96]:
import requests
json = {'searchType': 'bike',
        'query': 'idk',
        'timer':'1', 
        'userEmail': 'bob@gmail.com'
}
r = requests.post("http://127.0.0.1:5000/posts", data=json)
# And done.
print(r.text) # displays the result body.

<table border="1" class="dataframe" id="table">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>admin@example.com</td>
    </tr>
    <tr>
      <th>1</th>
      <td>bob@gmail.com</td>
    </tr>
  </tbody>
</table>

In [89]:
d = {'email': ['admin@example.com']}
useremailDataframe = pd.DataFrame(data = d)

In [90]:
d = {'email': ['jack']}
postResponseDataFrame = pd.DataFrame(d)
useremailDataframe.append(postResponseDataFrame, ignore_index=True)

               email
0  admin@example.com
1               jack

In [91]:
useremailDataframe.head()

               email
0  admin@example.com