In [ ]:
from sshtunnel import SSHTunnelForwarder
import MySQLdb as db
import pandas as pd

In [ ]:
def query(q):
    tunnel = SSHTunnelForwarder(
    ('afsconnect1.njit.edu'),   # your ssh address needs to be a tuple 
        ssh_username='ks572',   
        ssh_password='Cell10121314',
        remote_bind_address=('sql.njit.edu',3306) # address you want to connect to
    )
    
    tunnel.start()
            
    conn = db.connect(host='127.0.0.1',  # your machines address 
          port=tunnel.local_bind_port,   # this figures out that port 22 goes to your port 
          user='ma995',                 # sql's username
          passwd='pickup82',            # sql's password
          db='ma995')                   # sql's database 
    
    return pd.read_sql_query(q, conn)
        
print( query("select * from 684Items where title like '%batman%';") );

In [ ]:
help(db)